.nav-menu-decade {
  padding-top: 5px;
}

.nav-menu-decade-header {
  text-align: center;
}

.nav-menu-decade-header p {
  top: -4px;
  margin: 10px;
  display: inline;
  position: relative;
  font-size: 28px;
  font-family: 'Merriweather', serif;
  color: #F2F2F2;
}

.nav-menu-decade-header > svg {
  stroke: #F2F2F2;
  stroke-width: 3px;
}

.nav-menu-decade-years {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Merriweather', serif;
}

.nav-menu-decade-years > a {
  width: 20%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #F2F2F2;
}

.national-championship-year {
  font-weight: bold;
  color: #DCB439;
}

.selected-year {
  opacity: 0.7;
  background-color: #465510;
}

.selected-year:hover {
  opacity: 0.7;
  font-weight: bold;
  color: #002B5B;
  background-color: #DCB439;
}
