.nav-menu-decade-container {
  padding: 20px 8px;
  width: 33%;
}

.nav-menu-decade {
  padding: 8px;
  background-color: rgba(220, 180, 57, 0.4);
  border: solid 3px #302205;
}

.nav-menu-decade-header {
  margin-top: -28px;
  text-align: center;
}

.nav-menu-decade-header p {
  font-family: 'Bungee';
  font-size: 20px;
  color: #EFEFEF;
  display: inline-block;
  padding: 4px 8px;
  background-color: #5AABBC; /* $primary-blue */
  border: solid 3px #302205;
}

.nav-menu-decade-header p span {
  font-size: 16px;
}

.nav-menu-decade-header > svg {
  stroke: #F2F2F2;
  stroke-width: 3px;
}

.nav-menu-decade-years {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Merriweather', serif;
}

.nav-menu-decade-years > a {
  width: 20%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #302205;
}

.nav-menu-decade-years > a:hover {
  color: #002B5B;
  background-color: #DCDCDC;
}

.nav-menu-decade-years > .national-championship-year {
  font-weight: bold;
  color: #DCB439;
}

.nav-menu-decade-years > .selected-year {
  opacity: 0.7;
  background-color: #465510;
}

.nav-menu-decade-years > .selected-year:hover {
  opacity: 0.7;
  font-weight: bold;
  color: #002B5B;
  background-color: #DCB439;
}
