.nav-menu {
  position: fixed;
  width: 600px;
  height: 100%;
  top: 0;
  right: 0;
  background: #5AABBC;
  visibility: hidden;
  transform: translateX(600px);
  transition: transform 0.5s, visibility 0s 0.5s;
  overflow: scroll;
  z-index: 10;
}

.nav-menu-open {
  visibility: visible;
  transform: translateX(0px);
  transition: transform 0.5s;
}

.nav-menu-decades {
  display: flex;
  flex-wrap: wrap;
}
