# Dependencies
node_modules/

# Testing
coverage/

# Production
dist/

# Configuration files
.env

# npm / yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
firebase-debug.log
.firebase/

# Miscellaneous
.DS_Store
