body {
  /* Background image from: http://subtlepatterns.com/awesome-pattern */
  background-color: #efefef;
  background-image: url('./images/background.png');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
