/*.tooltip {
  position: absolute;
  font-size: 12px;
  width:  auto;
  height: auto;
  pointer-events: none;
  background-color: white;
}
*/

h1 {
  margin: 20px;
  text-align: center;
  font-size: 32px;
  font-family: 'Bungee';
}

svg {
  margin: 0 auto 20px auto;
  display: block;
}
