.linescore {
  font-family: 'Bungee';
  margin-right: 20px;
  border: solid 3px #302205; /* secondary-black */
}

.linescore > div {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #302205; /* $secondary-black */
}

.linescore > div > p {
  width: 40px;
  padding: 6px 0;
}

/* Team name abbreviations */
.linescore > div > p:first-of-type {
  width: 80px;
}

.linescore > div.quarter-scores > p {
  font-size: 20px;
}

/* All scores */
.linescore > div > p:not(:first-of-type) {
  margin-right: 4px;
}

/* Quarter indicators */
.linescore > div:first-of-type > p:not(:first-of-type) {
  font-size: 14px;
  margin: -16px 4px 0 0;
  background-color: #5aabbc; /* $primary-blue */
  border: solid 3px #302205; /* $secondary-black */
  color: #efefef;
}
