.chart-background {
  fill: transparent;
}

/* Color scheme from Victory: https://github.com/FormidableLabs/victory-core/blob/aba0ff511470690ab395ba5a78fd8e5f62be7532/src/victory-theme/material.js */
/*const yellow200 = "#FFF59D";
const deepOrange600 = "#F4511E";
const lime300 = "#DCE775";
const lightGreen500 = "#8BC34A";
const teal700 = "#00796B";
const cyan900 = "#006064";
const colors = [
  deepOrange600,
  yellow200,
  lime300,
  lightGreen500,
  teal700,
  cyan900
];
const blueGrey50 = "#ECEFF1";
const blueGrey300 = "#90A4AE";
const blueGrey700 = "#455A64";
const grey900 = "#212121";
*/
/* Greyscale colors:
const colors = [
  "#252525",
  "#525252",
  "#737373",
  "#969696",
  "#bdbdbd",
  "#d9d9d9",
  "#f0f0f0"
];
*/

.line {
  fill: transparent;
  stroke-width: 3px;
}

.series-0 {
  stroke: #e41a1c;
}

.series-1 {
  stroke: #377eb8;
}

.series-2 {
  stroke: #4daf4a;
}

.series-3 {
  stroke: #984ea3;
}

.series-4 {
  stroke: #ff7f00;
}

.series-5 {
  stroke: #ffff33;
}

.series-6 {
  stroke: #a65628;
}

.series-7 {
  stroke: #f781bf;
}

/* TODO: update color scheme */

.series-8 {
  stroke: #f781bf;
}

.series-9 {
  stroke: #f781bf;
}

.dot.series-0 {
  fill: #e41a1c;
}

.dot.series-1 {
  fill: #377eb8;
}

.dot.series-2 {
  fill: #4daf4a;
}

.dot.series-3 {
  fill: #984ea3;
}

.dot.series-4 {
  fill: #ff7f00;
}

.dot.series-5 {
  fill: #ffff33;
}

.dot.series-6 {
  fill: #a65628;
}

.dot.series-7 {
  fill: #f781bf;
}

/* TODO: update color scheme */

.dot.series-8 {
  fill: #f781bf;
}

.dot.series-9 {
  fill: #f781bf;
}
