.master-container {
  display: flex;
}

.schedule-container {
  width: 50%;
}

.current-year {
  font-family: 'Bungee Shade';
  font-size: 40px;
  color: #5AABBC; /* $primary-blue */
  padding: 25px;
  text-align: center;
}

.schedule .game {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  margin: 0 25px;
  cursor: pointer;
}

.schedule .game img {
  height: 40px;
  width: 40px;
}

.schedule .game > div {
  margin-left: 10px;
}

.schedule .game .date {
  font-size: 14px;
  font-family: 'Merriweather', serif;
}

.schedule .game .opponent {
  font-size: 20px;
  font-family: 'Bungee';
  width: 250px;
}

.schedule .game .location {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  width: 200px;
}

.schedule .game .score {
  font-size: 22px;
  font-family: 'Bungee';
  width: 120px;
}

.schedule .game.homeGame:hover {
  background-color: rgba(84, 82, 82, 0.2);
}

.schedule .game.awayGame {
  background-color: rgba(84, 82, 82, 0.1);
}

.schedule .game.awayGame:hover {
  background-color: rgba(84, 82, 82, 0.2);
}

.schedule .game.selected {
  background-color: rgba(220, 180, 63, 0.5);
}

.schedule .game.selected:hover {
  background-color: rgba(220, 180, 63, 0.6);
}

.schedule .game .win {
  color: #465510; /* $secondary-green */
  margin-right: 5px;
}

.schedule .game .loss {
  color: #5F1709; /* $secondary-red */
  margin-right: 9px;
}

.schedule .game .tie {
  color: #302205; /* $secondary-black */
  margin-right: 9px;
}
