/*************
 *  IMPORTS  *
 *************/
@import 'colors';

/***********
 *  FONTS  *
 ***********/
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Bungee+Inline|Bungee+Outline|Bungee+Shade);

/***************
 *  PAGE WIDE  *
 ***************/
body {
  /* Background image from: http://subtlepatterns.com/awesome-pattern */
  background-image: url("../images/background.png");
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/*********************
 *  NAVIGATION MENU  *
 *********************/
$navMenuWidth: 240px;

.nav-menu {
  position: fixed;
  background: $secondary-blue;
  width: 240px;
  height: 100%;
  top: 0;
  right: -$navMenuWidth;
  z-index: 1000;
  overflow-y: scroll;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &.nav-menu-open {
    right: 0px;
  }

  & > h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }

  & > a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    border-bottom: 1px solid #258ecd;
    padding: 1em;

    &:hover {
      background: #258ecd;
    }
  }
}

/* Navigation menu header */
.nav-menu-header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: $accent-gray;
  z-index: 1;

  & > a {
    color: black;
    margin: 15px 10px;
    display: inline-block;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
  }
}

/* Navigation menu decades */
.nav-menu-decades {
  margin-top: 60px;
}

.nav-menu-decade {
  padding-top: 5px;

  .nav-menu-decade-header {
    text-align: center;

    & p {
      top: -4px;
      margin: 10px;
      display: inline;
      position: relative;
      font-size: 28px;
      font-family: 'Merriweather', serif;
      color: $accent-white;
    }

    & > svg {
      stroke: $accent-white;
      stroke-width: 3px;
    }
  }

  .nav-menu-decade-years {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Merriweather', serif;

    & > a {
      width: 20%;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      color: $accent-white;

      &.national-championship-year {
        font-weight: bold;
        color: $primary-gold;
      }

      &.selected-year {
        opacity: 0.7;
        background-color: $secondary-green;
      }

      &:hover {
        opacity: 0.7;
        font-weight: bold;
        color: $primary-blue;
        background-color: $primary-gold;
      }
    }
  }
}

/* Navigation menu open / close buttons */
$nav-drawer-button-size: 2rem;

@mixin line {
  display: inline-block;
  width: $nav-drawer-button-size;
  height: $nav-drawer-button-size / 7;
  background: black;
  border-radius: $nav-drawer-button-size / 14;
}

.nav-menu-button {
  height: 47px;
  padding: 10px;
  cursor: pointer;

  & > span {
    // Middle line
    @include line;
    position: relative;

    // Upper and lower lines (pseudo-elements of the middle line)
    &:before, &:after {
      @include line;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: $nav-drawer-button-size / 14 center;
    }

    &:before {
      top: $nav-drawer-button-size / 4;
    }

    &:after {
      top: -$nav-drawer-button-size / 4;
    }
  }

  &.nav-menu-open-button {
    position: absolute;
    top: 7px;
    right: 10px;
  }

  &.nav-menu-close-button {
    display: inline;
    position: relative;
    top: -6px;
    left: 90px;

    & > span {
      // Hide the middle line
      background: transparent;

      // Overlay the lines by setting both their top values to 0
      &:before, &:after{
        top: 0;
        transform-origin: 50% 50%;
        width: $nav-drawer-button-size;
      }

      // Rotate the lines to form the X shape
      &:before{
        transform: rotate3d(0, 0 , 1, 45deg);
      }

      &:after{
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}

.master-container {
  display: flex;
}

/* Schedule */
.schedule-container {
  width: 50%;

  .current-year {
    font-family: 'Bungee Shade';
    font-size: 40px;
    color: $primary-blue;
    padding: 25px;
    text-align: center;
  }

  .schedule {
    .game {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-around;
      margin: 0 25px;
      cursor: pointer;
      border-top: solid 2px $secondary-black;

      img {
        height: 40px;
        width: 40px;
      }

      & > div {
        margin-left: 10px;
      }

      .date {
        font-size: 14px;
        font-family: 'Merriweather', serif;
      }

      .opponent {
        font-size: 20px;
        font-family: 'Bungee';
        width: 250px;
      }

      .location {
        font-family: 'Merriweather', serif;
        font-size: 14px;
        width: 200px;
      }

      .score {
        font-size: 22px;
        font-family: 'Bungee';
        width: 120px;
      }

      &:last-of-type {
        border-bottom: solid 2px $secondary-black;
      }

      &.homeGame:hover {
        background-color: rgba(84, 82, 82, 0.2);
      }

      &.awayGame {
        background-color: rgba(84, 82, 82, 0.1);
      }

      &.awayGame:hover {
        background-color: rgba(84, 82, 82, 0.2);
      }

      &.selected {
        background-color: rgba(220, 180, 63, 0.5);
      }

      &.selected:hover {
        background-color: rgba(220, 180, 63, 0.6);
      }

      .win {
        color: $secondary-green;
        margin-right: 5px;
      }

      .loss {
        color: $secondary-red;
        margin-right: 9px;
      }
    }
  }
}


.game-summary-container {
  width: 50%;
  margin-top: 100px;
}

.total-score {
  display: flex;
  align-items: center;
  font-family: 'Bungee';

  .score {
    font-size: 50px;
  }

  & > div {
    display: flex;
    flex: 1;
    align-items: center;

    img {
      height: 60px;
      width: 60px;
      margin: 0 20px;
    }

    p {
      font-size: 20px;
    }

    &:first-of-type {
      justify-content: flex-end;
    }
  }
}

.details p {
  text-align: center;
  font-family: 'Merriweather';
  font-size: 14px;
  margin-top: 10px;
}

.box-score {
  font-family: 'Bungee';
  margin-top: 20px;

  & > div {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $secondary-black;

    // Quarter indicators
    &:first-of-type {
      opacity: 0.7;
      font-size: 14px;
    }

    & > p {
      width: 50px;
      padding: 6px 0;

      // Team name abbreviations
      &:first-of-type {
        width: 80px;
      }
    }

    &.quarter-scores > p {
      font-size: 20px;

      // Second and fourth quarter scores
      &:nth-of-type(3),
      &:nth-of-type(5) {
        border-right: solid 2px $secondary-black;
      }

      // Total scores
      &:last-of-type {
        border-left: solid 2px $secondary-black;
      }
    }
  }
}


.game-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  & > div {
    display: flex;
    text-align: center;

    &:first-of-type > p {
      &:nth-of-type(2) {
        color: $secondary-red;
      }

      &:nth-of-type(3) {
        color: $secondary-green;
      }
    }

    &:nth-of-type(2n) {
      background-color: rgba(84, 82, 82, 0.1);
    }

    & > p {
      padding: 10px 0;
      color: $secondary-black;

      &:first-of-type {
        width: 150px;
        font-family: 'Merriweather';
        font-size: 14px;
        font-weight: bold;
      }

      &:not(:first-of-type) {
        width: 150px;
        font-family: 'Bungee';
        font-size: 16px;
      }
    }
  }
}
