/*************
 *  IMPORTS  *
 *************/
@import 'colors';

/***********
 *  FONTS  *
 ***********/
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Bungee+Inline|Bungee+Outline|Bungee+Shade);

/***************
 *  PAGE WIDE  *
 ***************/
body {
  /* Background image from: http://subtlepatterns.com/awesome-pattern */
  background-image: url("../images/background.png");
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/*********************
 *  NAVIGATION MENU  *
 *********************/
$navMenuWidth: 240px;

.nav-menu {
  position: fixed;
  background: $secondary-blue;
  width: 240px;
  height: 100%;
  top: 0;
  right: -$navMenuWidth; // TODO: change back to -$navMenuWidth
  z-index: 1000;
  overflow-y: scroll;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &.nav-menu-open {
    right: 0px;
  }

  & > h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }

  & > a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    border-bottom: 1px solid #258ecd;
    padding: 1em;

    &:hover {
      background: #258ecd;
    }
  }
}

/* Navigation menu header */
.nav-menu-header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: $accent-gray;
  z-index: 1;

  & > a {
    color: black;
    margin: 15px 10px;
    display: inline-block;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
  }
}

/* Navigation menu decades */
.nav-menu-decades {
  margin-top: 60px;
}

.nav-menu-decade {
  padding-top: 5px;

  .nav-menu-decade-header {
    text-align: center;

    & p {
      top: -4px;
      margin: 10px;
      display: inline;
      position: relative;
      font-size: 28px;
      font-family: 'Merriweather', serif;
      color: $accent-white;
    }

    & > svg {
      stroke: $accent-white;
      stroke-width: 3px;
    }
  }

  .nav-menu-decade-years {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Merriweather', serif;

    & > a {
      width: 20%;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      color: $accent-white;

      &.national-championship-year {
        font-weight: bold;
        color: $primary-gold;
      }

      &.selected-year {
        opacity: 0.7;
        background-color: $secondary-green;
      }

      &:hover {
        opacity: 0.7;
        font-weight: bold;
        color: $primary-blue;
        background-color: $primary-gold;
      }
    }
  }
}

/* Navigation menu open / close buttons */
$nav-drawer-button-size: 2rem;

@mixin line {
  display: inline-block;
  width: $nav-drawer-button-size;
  height: $nav-drawer-button-size / 7;
  background: black;
  border-radius: $nav-drawer-button-size / 14;
}

.nav-menu-button {
  height: 47px;
  padding: 10px;
  cursor: pointer;

  & > span {
    // Middle line
    @include line;
    position: relative;

    // Upper and lower lines (pseudo-elements of the middle line)
    &:before, &:after {
      @include line;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: $nav-drawer-button-size / 14 center;
    }

    &:before {
      top: $nav-drawer-button-size / 4;
    }

    &:after {
      top: -$nav-drawer-button-size / 4;
    }
  }

  &.nav-menu-open-button {
    position: absolute;
    top: 7px;
    right: 10px;
  }

  &.nav-menu-close-button {
    display: inline;
    position: relative;
    top: -6px;
    left: 90px;

    & > span {
      // Hide the middle line
      background: transparent;

      // Overlay the lines by setting both their top values to 0
      &:before, &:after{
        top: 0;
        transform-origin: 50% 50%;
        width: $nav-drawer-button-size;
      }

      // Rotate the lines to form the X shape
      &:before{
        transform: rotate3d(0, 0 , 1, 45deg);
      }

      &:after{
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}

.master-container {
  display: flex;
}

/* Schedule */
.schedule-container {
  width: 50%;
  display: inline-block;
  text-align: center;

  .current-year {
    font-family: 'Bungee Shade';
    font-size: 40px;
    color: $primary-blue;
    padding: 25px;
  }

  .schedule {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;

    & > div {
      flex: 1;
      height: 50px;
      margin: 0 25px;
      cursor: pointer;
      opacity: 0.5;
      border-top: solid 2px $secondary-black;

      &:last-of-type {
        border-bottom: solid 2px $secondary-black;
      }

      &:hover {
        background-color: $accent-gray;
      }

      &.selected {
        background-color: $primary-gold;
      }

      & > p {
        margin-top: 6px;
        font-size: 30px;
        font-family: 'Bungee';
      }

      .win {
        color: $secondary-green;
      }

      .loss {
        color: $secondary-red;
      }
    }
  }
}


.game-summary-container {
  width: 50%;
  margin-top: 100px;
}

.box-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bungee';
  font-size: 20px;

  & > div {
    display: flex;
    text-align: center;
    color: #a8a8a8;

    &:first-of-type {
      color: black;
    }

    &:nth-of-type(2) {
      border: solid 2px $primary-blue;
      border-bottom: 0;
    }

    &:nth-of-type(3) {
      border: solid 2px $primary-blue;
    }

    & > p {
      width: 50px;
      height: 40px;
      padding-top: 11px;

      &:first-of-type {
        width: 150px;
      }

      &:nth-of-type(6) {
        font-weight: bold;
      }
    }

    &.quarter-scores > p {
      border-right: solid 2px $primary-blue;

      &:first-of-type {
        border-right-width: 3px;
      }

      &:nth-of-type(3) {
        border-right-width: 3px;
      }

      &:nth-of-type(5) {
        border-right-width: 5px;
      }

      &:nth-of-type(6) {
        border-right-width: 0;
      }
    }
  }
}


.game-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather';
  font-size: 16px;

  & > div {
    display: flex;
    text-align: center;
    color: black;

    & > p {
      width: 100px;
      height: 40px;
      padding-top: 11px;

      &:nth-of-type(2) {
        width: 200px;
      }
    }
  }
}
