/* Navigation menu open / close buttons */
.nav-menu-button {
  height: 47px;
  padding: 10px;
  cursor: pointer;
}

.nav-menu-button > span {
  /* Middle line */
  display: inline-block;
  width: 2rem;
  height: calc(2rem / 7);
  background: black;
  border-radius: calc(2rem / 14);
  position: relative;
}

/* Upper and lower lines (pseudo-elements of the middle line) */
.nav-menu-button > span:before,
.nav-menu-button > span:after {
  display: inline-block;
  width: 2rem;
  height: calc(2rem / 7);
  background: black;
  border-radius: calc(2rem / 14);
  position: absolute;
  left: 0;
  content: '';
  transform-origin: calc(2rem / 14) center;
}

.nav-menu-button > span:before {
  top: calc(2rem / 4);
}

.nav-menu-button > span:after {
  top: calc(-2rem / 4);
}

.nav-menu-open-button {
  position: absolute;
  top: 7px;
  right: 10px;
}

.nav-menu-close-button {
  display: inline;
  position: relative;
  top: -6px;
  left: 90px;
}

.nav-menu-close-button > span {
  /* Hide the middle line */
  background: transparent;
}

/* Overlay the lines by setting both their top values to 0 */
.nav-menu-close-button > span:before,
.nav-menu-close-button > span:after {
  top: 0;
  transform-origin: 50% 50%;
  width: 2rem;
}

/* Rotate the lines to form the X shape */
.nav-menu-close-button > span:before{
  transform: rotate3d(0, 0 , 1, 45deg);
}

.nav-menu-close-button > span:after{
  transform: rotate3d(0, 0, 1, -45deg);
}
