.line-chart--base path {
  fill: none;
  stroke: black;
}

.line-chart--area path {
  fill: cadetblue;
}

.line-chart--multiple .axis path,
.line-chart--multiple .axis line {
  fill: none;
  stroke: #000;
}

.line-chart--multiple .line {
  fill: none;
  stroke-width: 1.5px;
}
