.master-container {
  display: flex;
}

.schedule-container {
  width: 50%;
}

.current-year {
  font-family: 'Bungee Shade';
  font-size: 40px;
  color: #5AABBC; /* $primary-blue */
  padding: 25px;
  text-align: center;
}
