.note {
  width: 600px;
  margin: 0 auto 20px auto;
  border: solid 3px #302205;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter UI', serif;
  text-align: justify;
}

.note-header-container {
  margin-top: -14px;
  text-align: center;
}

.note-header {
  color: #efefef;
  font-size: 20px;
  font-family: 'Bungee';
  display: inline;
  padding: 4px 8px;
  background-color: #2a8c5f; /* $primary-blue */
  border: solid 3px #302205;
  text-align: center;
}

.note-text {
  padding: 8px 12px;
}
