.win,
.winning-record {
  fill: green !important;
  stroke: green !important;
}

.loss,
.losing-record {
  fill: red !important;
  stroke: red !important;
}

.tie,
.even-record {
  fill: yellow !important;
  stroke: yellow !important;
}

.ND {
  fill: green !important;
  stroke: green !important;
}

.STAN {
  fill: red !important;
  stroke: red !important;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 32px;
  font-family: 'Bungee';
}

svg {
  margin: 0 auto 20px auto;
  display: block;
}
