.completed-game-summary-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.total-score {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Bungee';
  margin-bottom: 20px;
}

.total-score > div {
  display: flex;
  align-items: center;
}

.total-score img {
  height: 60px;
  width: 60px;
}

.total-score > div:nth-of-type(1) img {
  margin-left: 8px;
  margin-right: 20px;
}

.total-score > div:nth-of-type(2) img {
  margin-left: 20px;
  margin-right: 8px;
}

.total-score .score {
  font-size: 50px;
}

.total-score .ranking {
  font-size: 16px;
  /*margin-bottom: auto;*/
  color: #777;
}
