.completed-game-summary-container {
  width: 50%;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.total-score {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Bungee';
  margin-bottom: 32px;
}

.total-score > div {
  display: flex;
  align-items: center;
}

.total-score .score {
  font-size: 40px;
}

.linescore-and-metadata-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 36px;
}

.game-metadata {
  width: 200px;
  height: 97px;
  border: solid 3px #302205; /* $secondary-black */
}

.game-metadata-date-container {
  margin: -7px 0 24px 0;
  text-align: center;
}

.game-metadata > p {
  font-size: 14px;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.game-metadata .game-metadata-date {
  display: inline;
  padding: 8px;
  font-size: 14px;
  font-family: 'Bungee';
  background-color: #5AABBC; /* $primary-blue */
  border: solid 3px #302205; /* $secondary-black */
  color: #EFEFEF;
}

.tv-coverage {
  height: 32px;
}
