.game-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.game-stats > div {
  display: flex;
}

.game-stats > div:nth-of-type(2n) {
  background-color: rgba(84, 82, 82, 0.1);
}

.game-stats > div p:first-of-type {
  width: 200px;
  padding-left: 8px;
}

.game-stats > div p:not(:first-of-type) {
  width: 150px;
  text-align: center;
}

.table-header p {
  font-family: 'Bungee';
}
