.line-score {
  font-family: 'Bungee';
  margin-top: 20px;
}

.line-score > div {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #302205; /* $secondary-black */
}

/* Quarter indicators */
.line-score > div:first-of-type {
  opacity: 0.7;
  font-size: 14px;
}

.line-score > div > p {
  width: 50px;
  padding: 6px 0;
}

/* Team name abbreviations */
.line-score > div > p:first-of-type {
  width: 80px;
}

.line-score > div.quarter-scores > p {
  font-size: 20px;
}

.line-score > div.quarter-scores > p:nth-of-type(3),
.line-score > div.quarter-scores > p:nth-of-type(5) {
  border-right: solid 2px #302205; /* $secondary-black */
}

/* Total scores */
.line-score > div.quarter-scores > p:last-of-type {
  border-left: solid 2px #302205; /* $secondary-black */
}
