{
  "root": true,
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    // Overrides of the Airbnb style guide
    "id-length": [0],
    "comma-dangle": [2, "never"],
    "jsx-quotes": [2, "prefer-single"]
  }
}
