@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Inter-UI/Inter-UI-Regular.woff2') format('woff2'),
    url('./fonts/Inter-UI/Inter-UI-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Inter-UI/Inter-UI-Italic.woff2') format('woff2'),
    url('./fonts/Inter-UI/Inter-UI-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Inter-UI/Inter-UI-Medium.woff2') format('woff2'),
    url('./fonts/Inter-UI/Inter-UI-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/Inter-UI/Inter-UI-MediumItalic.woff2') format('woff2'),
    url('./fonts/Inter-UI/Inter-UI-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Inter-UI/Inter-UI-Bold.woff2') format('woff2'),
    url('./fonts/Inter-UI/Inter-UI-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/Inter-UI/Inter-UI-BoldItalic.woff2') format('woff2'),
    url('./fonts/Inter-UI/Inter-UI-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/Inter-UI/Inter-UI-Black.woff2') format('woff2'),
    url('./fonts/Inter-UI/Inter-UI-Black.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/Inter-UI/Inter-UI-BlackItalic.woff2') format('woff2'),
    url('./fonts/Inter-UI/Inter-UI-BlackItalic.woff') format('woff');
}

body {
  /* Background image from: http://subtlepatterns.com/awesome-pattern */
  background-color: #efefef;
  background-image: url('./images/background.png');
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

/**
 * Customize rc-slider styles for SliderRange component, making sure to repeat class names to
 * increase selector specificity.
 */
.rc-slider-tooltip-inner.rc-slider-tooltip-inner.rc-slider-tooltip-inner {
  font-family: 'Inter UI';
  padding: 6px 8px 4px 8px;
  font-size: 12px;
  color: #efefef;
  background-color: #2a8c5f;
}

.rc-slider-tooltip-arrow.rc-slider-tooltip-arrow.rc-slider-tooltip-arrow {
  border-top-color: #2a8c5f;
}
